@font-face {
	font-family: 'ralewayregular';
	src: url('fonts/raleway-regular-webfont.eot');
	src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-regular-webfont.woff2') format('woff2'), url('fonts/raleway-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'ralewayregular', Verdana, sans-serif;
	box-sizing: border-box;
	overflow: scroll;
	overflow-x: hidden;
}

.dark-bg {
	background-color: lightgray;
}

p {
	padding-bottom: 10px;
}

button {
	padding: 5px 20px;
	margin: 0 10px;
}

li {
	padding: 3px 0;
}

header {
	text-align: center;
	background: #9b59b6;
	padding: 40px;
	font-size: 32px;
	margin-bottom: 5px;
	color: #ffffff;
}

body {
	display: flex;
    padding: 10px;
    flex-direction: column;
    min-height: 100vh;
	justify-content: space-between;
}

#main {
	flex:  1;
}

.inner-main {
    flex: 1;
}

footer {
    padding-bottom: 0;
    text-align: center;
}

nav {
	padding-bottom: 10px;
}

nav a {
	padding: 8px;
	color: #9b59b6;
	text-decoration: none;
}
form{
    width: 100%;
}
form div {
	display: flex;
    align-items: center;
    padding: 5px 0
}

label {
	order: 1;
	width: 10em;
	padding-right: 0.5em;
}

input,
textarea,
select {
	order: 2;
	flex: 1 1 auto;
}

input:focus~label,
textarea:focus~label,
select:focus~label {
	color: #933;
}

#form-container {
    display: flex;
    justify-content: center;
}

#dogUl {
    width: 60vw;
    padding: 2px;
    margin: auto;
}
#dogImg{
    max-width:100%;
    max-height:100%;
}
#map {
    height: 60vh;
}

.apiLi {
    background-color: #9b59b6;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.apiLi:hover {
    color: #9b59b6;
    background-color: #ffffff;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}