@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.eot');
    src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-regular-webfont.woff2') format('woff2'), url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: 'ralewayregular', Verdana, sans-serif;
    background: -webkit-linear-gradient(to bottom, #8CA6DB, #B993D6);
    background: linear-gradient(to bottom, #8CA6DB, #B993D6);
    color: #384150;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    height: 80vh;
    width: 70vw;
    max-width: 1440px;
    background: white;
    box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
}

nav {
    padding: 20px;
    margin: 10px;
    justify-content: space-between;
    display: flex;
}

.content {
    flex: 1;
}

.inner-content {
    padding: 10% 20%;
}

footer {
    padding: 15px 0px;
}

.nav-head {
    display: flex;
}

.nav-head>li {
    flex: 1;
    padding: 0px 10px;
}

a {
    color: #384150;
}

a:hover {
    text-decoration: underline;
}

.right {
    float: right;
    padding: 0px 20px;
}

.right>a {
    padding: 0px 20px;
}

.brand {
    width: 150px;
    padding: 5px 10px 35px 10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.brand a {
    opacity: 0;
    color: #384150;
    max-width: 0;
    display: inline-block;
    z-index: -1;
    text-decoration: none;
    transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
}

.brand a i {
    float: right;
    display: block;
    position: relative;
    padding: 0px 1em;
    margin-top: 5px;
}

#diamond {
    height: 25px;
    width: 25px;
    float: left;
    z-index: 5;
    position: relative;
    background-color: #7FDBFF;
    transform: rotate(45deg);
    margin: .125em .375em;
}

#diamond:hover {
    transform: rotate(405deg);
    transition: all 1s ease-in-out 0s;
}

#diamond:hover~a {
    opacity: 1;
    max-width: 200px;
    transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
}

.path {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 3s linear alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1500;
    }
    to {
        stroke-dashoffset: 0;
    }
}

fieldset {
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

form input[type="text"], form input[type="email"], form input[type="tel"], form input[type="url"], form textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}
textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background: #5f27cd;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}
button[type="submit"]:hover {
	background: #341f97;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

input:focus, textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}

