@font-face {
	font-family: 'ralewayregular';
	src: url('fonts/raleway-regular-webfont.eot');
	src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-regular-webfont.woff2') format('woff2'), url('fonts/raleway-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'ralewayregular', Verdana, sans-serif;
}

h2 {
	font-Size: 36px;
	font-weight: 700;
}

#about {
	text-align: center;
	background-color: rebeccapurple;
	padding: 5vh 10vw;
	color: wheat;
}

#item {
	display: flex;
	flex-wrap: wrap;
}

#item>div {
	flex: 1 33%;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	#item {
		flex: 3 0;
    }
    #form form {
        width: 70vw;
    }
}

textarea {
    resize: none;
}

textarea:focus, input:focus{
    outline: none;
}

::placeholder { 
    color: #9b59b6;
    opacity: .4; 
}

input[type=submit]{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 5px;
    border: none;
    background-color: #9b59b6;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #9b59b6;
}

input[type=submit]:hover { 
    background:white;
    color: #9b59b6; 
    cursor:pointer;
}

input, textarea, select {
    border: 1px solid #9b59b6;
}

input[type=text], input[type=number], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

#form {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
}

#radiogroup{
    padding: 10px 0;
}

form {
    width: 40vw;
}