@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.eot');
    src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  html {
    font-family: 'ralewayregular', Verdana, sans-serif;
  }
  

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-Size: 36px;
    font-weight: 700;
}

span {
    font-weight: 500;
}

nav {
    list-style-type: none;
    margin: 0;
    background-color: black;
    padding: 10px 0px;
    width: 100vw;
}

a {
    color: white;
    text-decoration: none;
}

li {
    display: inline;
    padding: 0px 20px;
}
li>a:hover {
    color: red;
}

header {
    text-align: center;
}

#about {
    text-align: center;
    background-color: rebeccapurple;
    padding: 15vh 10vw;
    color: wheat;
}

.left {
    flex: 1;
    padding: 1rem;
}

#item {
    display: flex;
    flex-wrap: wrap;
}

#item>div {
    flex: 1 33%;
    text-align: center;
}

@media all and (max-width: 600px) {
    #item>div {
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    #item {
        flex: 3 0;
    }
}

button {
    background-color: rebeccapurple;
    border: 1px solid wheat;
    color: wheat;
    padding: 15px 32px;
    text-decoration: none;
    align-self: flex-start;
    font-size: 16px;
}

button:hover {
    background-color: wheat;
    color: rebeccapurple;
    cursor: pointer;
}

button:active {
    background-color: palegreen;
    color: blue;
}

#gallery {
    margin: 5vh 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
}

footer {
    padding: 2vh 0;
    background-color: wheat;
    color: rebeccapurple;
}

.cont2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ec74ce;
}

.c {
    animation-duration: 5s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(.71, .55, .62, 1.57);
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.c:hover {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}